In [8]:
import pandas as pd
import matplotlib as plt

In [2]:
video_game = pd.read_csv("/Users/specky3512/GitHub/Project 1/Game sales files/Video_Games_Sales_as_at_22_Dec_2016.csv")
xbox1 = pd.read_csv("/Users/specky3512/GitHub/Project 1/Game sales files/Xbox One Sales.csv")
ps4 = pd.read_csv("/Users/specky3512/GitHub/Project 1/Game sales files/PS4 Sales.csv")

In [3]:
video_gameworatings = video_game[['Name','Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']]
video_gameworatings.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
ps4['Platform'] = 'PS4'
ps4 = ps4.rename(columns = {'Game':'Name', 'Year':'Year_of_Release', 'North America':'NA_Sales', 'Europe':'EU_Sales', 'Japan':'JP_Sales', 'Rest of World': 'Other_Sales', 'Global':'Global_Sales'})
ps4 = ps4[['Name','Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']]
# ps4 = ps4[['Game': "Name", 'Platform', 'Year':'Year_of_Release', "Genre", "Publisher", "North America":"NA_Sales"]]
ps4.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Grand Theft Auto V,PS4,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,PS4,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,PS4,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,PS4,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80

In [5]:
xbox1['Platform'] = 'Xbox One'
xbox1 = xbox1.rename(columns = {'Game':'Name', 'Year':'Year_of_Release', 'North America':'NA_Sales', 'Europe':'EU_Sales', 'Japan':'JP_Sales', 'Rest of World': 'Other_Sales', 'Global':'Global_Sales'})
xbox1 = xbox1[['Name','Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']]
# ps4 = ps4[['Game': "Name", 'Platform', 'Year':'Year_of_Release', "Genre", "Publisher", "North America":"NA_Sales"]]
xbox1.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Grand Theft Auto V,Xbox One,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,Call of Duty: Black Ops 3,Xbox One,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,Call of Duty: WWII,Xbox One,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,Red Dead Redemption 2,Xbox One,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,MineCraft,Xbox One,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43

In [6]:
dataframes = [video_gameworatings, ps4, xbox1]
mergeddata = pd.concat(dataframes)
mergeddata

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
608,Biomutant,Xbox One,2018.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
609,Biomutant,Xbox One,2019.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
610,de Blob,Xbox One,2017.0,Platform,THQ Nordic,0.00,0.00,0.00,0.00,0.00
611,Outcast: Second Contact,Xbox One,2017.0,Adventure,Bigben Interactive,0.00,0.00,0.00,0.00,0.00
612,Code Vein,Xbox One,2019.0,Action,Bandai Namco Entertainment,0.00,0.00,0.00,0.00,0.00

In [7]:
publisher_count = mergeddata.groupby('Publisher')['Year_of_Release'].count()
publisher_info = pd.DataFrame(publisher_count)
publisher_info = publisher_info.rename(columns={'Year_of_Release': '# of Games Released'})
publisher_info = publisher_info.reset_index()
publisher_total_NA = mergeddata.groupby('Publisher')['NA_Sales'].sum()
publisher_total_EU = mergeddata.groupby('Publisher')['EU_Sales'].sum()
publisher_total_JP = mergeddata.groupby('Publisher')['JP_Sales'].sum()
publisher_total_Other = mergeddata.groupby('Publisher')['Other_Sales'].sum()
publisher_total_Global = mergeddata.groupby('Publisher')['Global_Sales'].sum()
publisher_info = pd.merge(publisher_info, publisher_total_NA, on = "Publisher")
publisher_info = pd.merge(publisher_info, publisher_total_EU, on = "Publisher")
publisher_info = pd.merge(publisher_info, publisher_total_JP, on = "Publisher")
publisher_info = pd.merge(publisher_info, publisher_total_Other, on = "Publisher")
publisher_info = pd.merge(publisher_info, publisher_total_Global, on = "Publisher")
publisher_info.sort_values(by='NA_Sales', ascending = False).head(20)

,Publisher,# of Games Released,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
399,Nintendo,700,816.97,419.01,458.15,94.68,1788.81
154,Electronic Arts,1387,633.90,412.01,15.86,140.26,1202.29
26,Activision,1035,484.99,257.12,8.39,91.05,841.62
596,Ubisoft,1020,289.92,201.49,9.45,61.27,562.34
510,Sony Computer Entertainment,711,282.12,204.52,75.79,86.39,648.74
555,Take-Two Interactive,423,223.71,120.14,5.93,55.99,405.74
548,THQ,712,207.72,93.78,5.01,31.89,338.44
359,Microsoft Game Studios,194,157.43,68.64,3.30,18.91,248.32
497,Sega,650,110.57,82.65,58.63,24.50,276.56
58,Atari,355,110.05,27.00,10.71,8.94,157.08
623,Warner Bros. Interactive Entertainment,273,101.68,68.68,1.42,24.25,195.85
306,Konami Digital Entertainment,845,94.84,73.27,93.09,31.16,292.56
96,Capcom,430,84.66,43.22,71.91,16.46,216.60
385,Namco Bandai Games,1010,81.97,53.03,132.04,18.60,285.71
140,Disney Interactive Studios,219,71.97,34.20,0.56,13.33,120.17
523,Square Enix,287,61.39,45.24,56.08,18.18,180.85
74,Bethesda Softworks,106,59.47,50.35,2.23,16.22,128.28
320,LucasArts,89,49.53,25.89,0.20,10.23,85.83
153,Eidos Interactive,196,49.13,35.40,6.11,7.97,98.65
362,Midway Games,196,45.36,18.27,0.12,5.72,69.67

In [10]:
x = publisher_info['# of Games Released']
y = publisher_info['Global_Sales']
plt.scatter(x,y)

AttributeError: module 'matplotlib' has no attribute 'scatter'